.dark {
    --color-background: #222;
    --color-base: #DDD;
    --color-primary: #A26C00;
    --color-secondary: #085FB9;
    --color-gray: #888;
    --color-gray-18: #2e2e2e;
    --color-gray-20: #333333;
    --color-gray-border: #e6e6e6;
    --color-gray-bg: #ebebeb;
}
