@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
  &__date {
    font-style: bold;
    border-top: 1px solid $color-gray-border;
    max-width: $layout-post-width;
    padding-top: 20px;
  }

}