@import "../../../assets/scss/variables";
@import "../../../assets/scss/mixins";

.contacts {
  @include margin-bottom(1);

  &__list {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    flex-shrink: 0;
    list-style: none;
    margin: 10px -3px;
    padding: 0;
    width: 140px;

    &-item {
      align-content: center;
      align-items: center;
      border: 1px solid $color-gray-bg;
      border-radius: 50%;
      display: flex;
      height: $button-height;
      justify-content: center;
      line-height: $button-height;
      margin: 4px;
      padding: 0;
      text-align: center;
      width: $button-height;

      &-link {
        border: 0;
        color: $color-base;
        display: flex;

        &:hover,
        &:focus {
          color: $color-primary;
        }
      }
    }
  }
}
